/* sivuston tyylit */
.header-example {
    font-size: 32px;
    font-family: Arial, sans-serif;
    color: blue;
}
.color-example {
    color: blue;
    background-color: #fbff00;
    border: 2px solid black;
}
.list-example {
    list-style-type: square;
    color: blue;
}
.text-example {
    font-family: Comic, sans-serif;
    font-size: 21px;
    text-transform: capitalize;
    text-decoration: underline;
}
.div-example {
    background-color: #fbff00;
    border: 2px solid black;
}